@charset "UTF-8";
@keyframes wriggle {
  0% {
    border-radius: 40% 40% 20% 40%;
  }
  25% {
    border-radius: 40% 40% 40% 20%;
  }
  50% {
    border-radius: 20% 40% 40% 40%;
  }
  75% {
    border-radius: 40% 20% 40% 40%;
  }
  100% {
    border-radius: 40% 40% 20% 40%;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
    animation-timing-function: ease-in;
  }
  to {
    transform: scale3d(1, 1, 1);
    animation-timing-function: ease-out;
  }
}
@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
}
