@charset "UTF-8";
@keyframes wriggle {
  0% {
    border-radius: 40% 40% 20% 40%;
  }
  25% {
    border-radius: 40% 40% 40% 20%;
  }
  50% {
    border-radius: 20% 40% 40% 40%;
  }
  75% {
    border-radius: 40% 20% 40% 40%;
  }
  100% {
    border-radius: 40% 40% 20% 40%;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
    animation-timing-function: ease-in;
  }
  to {
    transform: scale3d(1, 1, 1);
    animation-timing-function: ease-out;
  }
}
