@charset "UTF-8";
#grid-container {
  background: #BAAAA0;
  height: 75vmin;
  min-height: 75vmin;
  width: 75vmin;
  margin: 1vmin auto;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.grid-cell {
  flex: 1;
  display: inherit;
  background: #eee4da;
  height: inherit;
  width: 30vmin;
  max-height: 30vmin;
  font-size: 10vmin;
  font-weight: bold;
  margin: 1vmin;
  text-align: center;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  animation: wriggle 1.5s infinite;
}

.grid-cell i {}

@media screen and (max-width: 520px) {
  #grid-container {
    height: 90vw;
    width: 90vw;
    min-height: 90vw;
    min-width: 90vw;
  }
  .grid-row {
    height: 35vw;
  }
  .grid-cell {
    width: 35vw;
    max-width: 35vw;
    font-size: 13vw;
    line-height: 35vw;
  }
}

.grid-cell:hover {
  box-shadow: 0 0 10vmin rgba(255, 255, 255, 0.7);
}

.grid-cell:active {
  box-shadow: 0 0 10vmin rgba(255, 255, 0, 0.2);
}
