@charset "UTF-8";
#title-container {
  height: 20vmin;
  min-height: 20vmin;
  margin: 0;
}

#title-text {
  margin: 0;
  height: 7vmin;
  font-size: 7vmin;
  line-height: 7vmin;
  font-weight: bold;
  text-align: center;
}

#title-text:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#pannels {
  height: 7vmin;
  min-height: 7vmin;
}

.panel {
  background: #998877;
  height: 5vmin;
  width: 46vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  color: #EEEEEE;
  font-size: 4.5vmin;
  line-height: 5vmin;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

#intro {
  height: 3vmin;
  font-size: 2.5vmin;
  line-height: 3vmin;
  font-weight: bold;
  text-align: left;
}
