@charset "UTF-8";
@keyframes wriggle {
  0% {
    border-radius: 40% 40% 20% 40%;
  }
  25% {
    border-radius: 40% 40% 40% 20%;
  }
  50% {
    border-radius: 20% 40% 40% 40%;
  }
  75% {
    border-radius: 40% 20% 40% 40%;
  }
  100% {
    border-radius: 40% 40% 20% 40%;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
    animation-timing-function: ease-out;
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
    animation-timing-function: ease-in;
  }
  to {
    transform: scale3d(1, 1, 1);
    animation-timing-function: ease-out;
  }
}

@keyframes cell-change {
  from {
    opacity: 0.3;
    font-size: 0;
    transform: rotateY( 0deg);
    animation-timing-function: ease-out;
  }
  50% {
    font-size: 0;
    animation-timing-function: ease-out;
  }
  80% {
    font-size: 8vmin;
  }
  to {
    opacity: 1;
    transform: rotateY( 360deg);
    animation-timing-function: ease-in;
  }
}

@keyframes cell-remove {
  from {
    font-size: 0;
    animation-timing-function: ease-out;
  }
  50% {
    color: #e4dad0;
    background: #b2a89e;
  }
  to {
    background: #b2aa9e;
    font-size: 0;
    transform: rotateY(180deg);
    cursor: default;
    animation-timing-function: ease-in;
  }
}

@keyframes cover-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes cover-hide {
  from {
    opacity: 0.7;
  }
  to {
    display: none;
    opacity: 0;
  }
}
