@charset "UTF-8";
#grid-container {
  background: #BAAAA0;
  height: 500px;
  width: 500px;
  margin: 5px auto;
  border-radius: 10px;
}

.grid-row {
  flex: 1;
  margin: 5px 0;
  justify-content: space-around;
  align-items: center;
}

.grid-cell {
  flex: 1;
  color: #777777;
  background: #eee4da;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  font-weight: bold;
}

.grid-cell:before {
  content: '';
  float: left;
  padding-top: 100%;
}

.grid-cell:hover {
  box-shadow: 0 0 10vmin rgba(255, 255, 255, 0.7);
}

.grid-cell:active {
  box-shadow: 0 0 10vmin rgba(255, 255, 0, 0.2);
}

#grid-cover {
  z-index: 100;
  position: absolute;
  background: #777777;
  opacity: 0;
  height: inherit;
  width: inherit;
  border-radius: 10px;
  pointer-events: none;
  justify-content: space-around;
  align-items: center;
}

#cover-restart-button {
  pointer-events: visibleFill;
}
