@charset "UTF-8";
@import url(animation.css);
@import url(title-container.css);
@import url(grid-container.css);
@import url(mobile/title-container.css) only screen and (max-width: 1025px);
@import url(mobile/grid-container.css) only screen and (max-width: 1025px);
* {
  color: #EEEEEE;
  font-family: Arial, sans-serif;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
}

body {
  /* FloralWhite; */
  background: #FFFAF0;
}

#container {
  width: 500px;
  margin: 10px auto;
}

.flex-row, .flex-column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}
