@charset "UTF-8";
@import url(animation.css);
@import url(title-container.css);
@import url(grid-container.css);
* {
  /* DimGray; */
  color: #696969;
  font-family: Arial, sans-serif;
  cursor: default;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-align: center;
}

body {
  /* FloralWhite; */
  background: #FFFAF0;
}

#container {
  height: 98vmin;
  width: 98vmin;
  margin: 1vmin auto;
}

.flex-row, .flex-column {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  flex-flow: row;
}

.flex-column {
  flex-flow: column;
}

.bordered {
  border-radius: 1vmin;
}
