@charset "UTF-8";
#title-container {
  height: 25vmin;
  min-height: 25vmin;
  margin: 0;
}

#title-text {
  margin: 0;
  height: 7vmin;
  font-size: 7vmin;
  line-height: 7vmin;
  font-weight: bold;
  text-align: center;
}

#title-text:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#pannels {
  height: 14vmin;
  min-height: 14vmin;
}

.panel {
  background: #998877;
  height: 5vmin;
  width: 46vmin;
  margin: 0.5vmin;
  padding: 0.5vmin;
  color: #F0FFFF;
  font-size: 4.5vmin;
  line-height: 4.5vmin;
  font-weight: bold;
}

.titled-panel {
  position: relative;
}

.text-before {
  left: 3vmin;
  color: #EEEEEE;
  font-size: 2vmin;
  line-height: 3vmin;
  text-align: left;
}

.time-text {
  position: absolute;
  width: 100%;
  color: #eeeeee;
  font-size: 4.5vmin;
  line-height: 4.5vmin;
  text-align: center;
  font-weight: bold;
}

#target-before-num {
  color: #EEEEEE;
  text-align: left;
  font-size: 3vmin;
  line-height: 3.5vmin;
  font-weight: bold;
}

@media screen and (max-width: 520px) {
  #target-text {
    left: 3vmin;
  }
}

#restart-button, #goback-button {
  background: #8F7766;
  height: 4vmin;
  width: 21vmin;
  color: #EEEEEE;
  font-size: 4vmin;
  line-height: 4vmin;
  text-align: center;
  border-style: dashed;
  border-color: #AA9988;
  cursor: pointer;
}

#restart-button:hover, #goback-button:hover {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#intro {
  height: 3vmin;
  font-size: 2.5vmin;
  line-height: 3vmin;
  font-weight: bold;
  text-align: left;
}

#cheat-panel {
  position: absolute;
  width: 5vmin;
  height: 5vmin;
}
